In [13]:
# Connection to the database
import pyodbc as pyodbc
import pandas as pd

In [8]:
# Configura tu conexión
server = 'localhost'  # o '127.0.0.1' si usas local
database = 'data_analisys'
username = 'sa'  # Deja en blanco si usas autenticación de Windows
password = 'Anarchy_1729'  # Deja en blanco si usas autenticación de Windows
driver = '{ODBC Driver 18 for SQL Server}'

In [14]:
try:
    connection_string = f'DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password};TrustServerCertificate=yes;Encrypt=yes;'
    conn = pyodbc.connect(connection_string)
    print('Successfully connected to the database')
    # create a cursor object
    cursor = conn.cursor()
except pyodbc.Error as err:
    print(err)

Successfully connected to the database

In [16]:
create_table_query = """
    CREATE TABLE products (
        id INT PRIMARY KEY,
        name VARCHAR(100) NOT NULL,
        price REAL NOT NULL
    )
"""

try:
    cursor.execute(create_table_query)
    print("Table created successfully")
except pyodbc.Error as err:
    print(err)

Table created successfully

In [20]:
insert_query = """
    INSERT INTO products (
        id,
        name,
        price
    ) VALUES (
        1,
        'Producto 1',
        10.99
    )
"""

try:
    cursor.execute(insert_query)
except pyodbc.Error as err:
    print(err)

In [21]:
try:
    cursor.execute("SELECT * FROM products")
    results = cursor.fetchall()
    print(results)
except pyodbc.Error as err:
    print(err)

[(1, 'Producto 1', 10.989999771118164)]