In [ ]:
# en el navegador de jupyter, abrir el notebook y ejecutar el siguiente c√≥digo
# %pip install sqlalchemy

In [22]:
from sqlalchemy import create_engine,text
import pandas as pd
import sqlite3 as lite

engine = create_engine('sqlite:///../data/example_fts.db')

# connection to database
# conn = engine.connect('sqlite:///example_fts.db')

# consult 
def run_query(query:str):
    with engine.connect() as conn:
        # Check if the query is a modified query
        if query.strip().lower().startswith(('insert', 'update', 'delete','create')):
            # Execute queries as text
            conn.execute(text(query))
            # Commit the transaction
            conn.commit()
            return "Query executed successfully"
        else:
            res = conn.execute(text(query))
            result = pd.DataFrame(res.fetchall(),columns=res.keys())
            return result

In [23]:
# Crete query
create_table_query = """
    CREATE TABLE products (
        product_id INTEGER PRIMARY KEY,
        product_name TEXT,
        product_price INTEGER
    );
"""

create_table = run_query(create_table_query)

In [24]:
# Insert data 
insert_data_query = """
    INSERT INTO products (product_id, product_name, product_price) 
    VALUES (1, 'Laptop Acer 125', 100.00),
        (2, 'Laptop Acer 135', 200.00),
        (3, 'Laptop Lenovo 125', 300.00),
        (4, 'Laptop Lenovo 135', 400.00),
        (5, 'Laptop Toshiba 145', 500.00),
        (6, 'Laptop Dell 6', 600.00),
        (7, 'Laptop Dell 7', 700.00),
        (8, 'Laptop Lenovo 8', 800.00),
        (9, 'Laptop Lenovo 9', 900.00),
        (10, 'Laptop Acer 10', 1000.00);
"""
run_query(insert_data_query)

'Query executed successfully'